<div class="content-bottom">
  <div class="col_1_of_3 span_1_of_3">
    <img src="images/pic5.jpg" alt=""/>
      <div class="bottom-head"><h5>Lorem ipsum dolor sit amet, consectetuer</h5></div>
        <div class="but">
          <button class="btn1 btn-8 btn-8a">Read More</button>
        </div>
  </div>
  <div class="col_1_of_3 span_1_of_3">
    <img src="images/pic6.jpg" alt=""/>
      <div class="bottom-head"><h5>Lorem ipsum dolor sit amet, consectetuer</h5></div>
        <div class="but">
          <button class="btn1 btn-8 btn-8a">Read More</button>
        </div>
  </div>
  <div class="col_1_of_3 span_1_of_3">
    <img src="images/pic7.jpg" alt=""/>
      <div class="bottom-head"><h5>Lorem ipsum dolor sit amet, consectetuer</h5></div>
        <div class="but">
          <button class="btn1 btn-8 btn-8a">Read More</button>
        </div>
  </div>
  <div class="clear"></div>
</div>