<div class="content-middle">
  <div class="col_1_of_2 span_1_of_2">
    <h3><span class="red">Lorem ipsum </span><br><span class="black">consectetuer</span></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    <button class="btn1 btn-8 btn-8a">Read More</button>
  </div>
  <div class="col_1_of_2 span_1_of_2">
    <div class="grid_img">
      <div class="hover_img">
        <img src="images/pic4.jpg" alt=""/>
      </div>
    </div>
    <div class="banner2">
      <a href="#">
        <div class="price">$50</div>
          <strong>Free Shipping</strong>
		  *eiusmod tempor incididunt ut labore
      </a>
    </div>
  </div>
  <div class="clear"></div>
</div>