<div class="banner">
  <div class="flexslider">
    <ul class="slides">
      <li><img src="<%=root_path%>images/banner1.jpg" alt=""/></li>
      <li><img src="<%=root_path%>images/banner2.jpg"  alt=""/></li>
      <li><img src="<%=root_path%>images/banner3.jpg"  alt=""/></li>
      <li><img src="<%=root_path%>images/banner4.jpg"  alt=""/></li>
    </ul>
  </div>
  <div class="flex-caption">
    <h2><a href="">Fast Food Seasonings</a></h2>
    <div class="clear"></div>
  </div>
</div>